.link_material{ 
  width:70%;
  }
.box_marketing .btn-marketing{
  width:137px;
}
.tab-content{
  width:100%;
  overflow:auto;
}
@media screen and (max-width: 1280px) {
/* new changes as on 3-2-2017 */  
.wr-megamenu-inner {
  left: inherit !important;
  right: -39px;
}
  
/* New Changes For responsive as on 30-1-2017 Start */

.testingcomps .wr-megamenu-inner {
   left: inherit !important;
   right: -20px !important;
}

.wr-megamenu-container ul.wr-mega-menu ul.sub-menu, .wr-megamenu-inner {
  left: inherit !important;
  right: -20px !important;
}
.page-template-GSM-mobile-template .final_2bac::after {
  /*background: rgba(0, 0, 0, 0) url("../images/25_bac1.jpg") no-repeat scroll 0 0 / cover  !important;*/
}
/* New Changes For responsive as on 30-1-2017 end */  
  
}
@media screen and (max-width: 1200px) {
  
/* New Changes For responsive as on 30-1-2017 Start */  
.copy-cont-left {
  float: left;
  width: 71%;
}
.fill.slide {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}
.slide {
  height: 461px;
}
.slider-content {
  padding-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.m_new5{
  margin-top: 0px;
}
/* New Changes For responsive as on 30-1-2017 end */
}
@media screen and (max-width: 1199px) {

.container {
  width:100%;
}
.cata-list{
  width:100%;
}
.list-group-item h4 {
  line-height: 15px;
  top: -6px;
  vertical-align: middle;
  width: 77%;
}
.footer-news-letter .wysija-input {
  margin-right: 20px;
}
.footer-news-letter .wysija-submit.wysija-submit-field {
  margin-left: 0;
}
.with-partner {
  padding: 15px 0 15px 15px;
}
.part-img {
  margin-right: 15px;
}
.list-group-item {
  padding: 8px 15px 12px 15px;
}
.logo-img {
    padding-bottom: 20px;
    padding-top: 0;
}
.owl-carousel .owl-item .blog-img a img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-style: unset;
  width: 100%;
}
.patner-logo img {
    width: 100%;
}
.case-img > img {
    width: 270px;
}
.footer-news-letter .wysija-paragraph {
  float: left;
  margin-right: 20px;
  width: 50%;
}
.news-letter .formError .formErrorContent {
  width: 76%;
}
.client-pro-name {
    border-left: medium none;
    float: left;
    padding: 12px 0;
}
.news-letter {
    width: 100%;
}
.social-icon > h3 {
  margin: 7px 15px 7px 0;
}
.leader-para > p {
  min-height: 178px;
}
.know-me-btn {
  font-size: 14px;
}
.featured_blog {
  margin-top: 15px;
}
.search-form {
  float: right !important;
  margin-top: 0px;
  width: auto;
}
.hello .wpcf7-form {
  margin: 0 auto;
  width: 70%;
}
/*.what-new-left {
  width: 45%;
}*/
.wr-megamenu-container a.caption {
  white-space: normal !important;
}
.client-content > p {
  min-height: 350px;
}
/* .benefit-left.col-md-6 {
  padding: 0;
  width: 100%;
}
.time-saving-right::after {
  display: none;
}
.time-saving-right::before {
  display: none;
}
.time-saving-right {
  padding: 0;
} */
.measure-right.col-md-4 > img {
  width: 100%;
}
.time-saving-right::after {
  left: 25px;
  top: -47px;
}
.time-saving-right::before {
  top: -34px;
}
.benefit-essential, .benefit-enterprise {
  height: auto;
}
.benefit-right {
  float: left;
  margin-top: 0;
  padding: 20px 0;
}
.benefit-right > img {
  float: left;
  position: relative;
  z-index: 9;
}
.enh-support-right {
  margin-top: 0;
}
.enh-support-right > img {
  float: left;
}
/* Inner Page Responsive Start */
.left-img > img {
  width: 100%;
}
.data-info-detail-img > img {
  width: 100%;
}
.first-block {
  margin-left: 37px;
}
.features-listing li {
  padding-left: 25px;
}
.inquiry-now-section::after {
  bottom: 0;
}

/* Inner Page Responsive Start */
.last-sec-news-title .inner-heading {
  font-size: 20px;
}


/* New Changes For responsive as on 30-1-2017 Start */
.slide {
  height: 380px;
}
.slider-content {
  top: 54%;
}
.custom_image_block {
  margin-top: 40px;
  max-width: 104%;
}
.nw_padding{
  padding:55px 0px !important;
}

/* New Changes For responsive as on 30-1-2017 end */  

/* new changes as on 3-2-2017 */  
/* .slide { */
  /* color: #ffffff; */
  /* height: 563px; */
/* } */
/* .video_block { */
  /* height: 563px !important; */
  /* max-width: 1140px !important; */
  /* width: 100% !important; */
/* } */

.slide {
  height:100% !important;
}
.video-container {
 position:relative;
 padding-bottom:56.25%;
 padding-top:30px;
 height:0;
 overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
}

}
@media screen and (max-width: 1092px) {

.our-partner {
  display: table;
  min-height: auto;
}
.testimonial {
  padding: 30px 0;
}
.heading {
  font-size: 28px;
}
.prefer-us-block-content > p {
  margin-bottom: 0;
  min-height: 120px;
}
.block-heading {
  min-height: 44px;
}
.part-img {
  display: none;
}
.check-list-icon {
  display: table;
  float: none;
  text-align: center;
  width: 100%;
}
.check-title {
  float: none;
  margin: 8px auto 0;
  text-align: center;
}
.jsn-bootstrap3 .preview-text .get-start {
  background: #215bbe url("images/get-start-icon.png") no-repeat scroll 129px center;
  padding: 8px 12px 8px 13px;
}
.product-bg {
  height: 335px;
}
/* .copy-cont-left {
    float: left;
    width: 100%;
} */
.footer-bottom-menu {
    float: left;
    margin-top: 5px;
}
.copy-rights p {
    float: right;
    width: auto;
}
/* .social-icons {
    float: left;
  margin-top: 10px;
} */
.leader-details ul li {
  width: 33.33%;
}
.leader-details .lead-social > li {
  width: auto;
}
.leader-detail-content .leader-details ul li {
    width: auto;
}
.for-us-right {
  margin-left: 10px;
}
.help-content > p {
  padding-bottom: 15px;
}
.client-content > p {
  min-height: 370px;
}
.owl-powerlite {
  background: rgba(0, 0, 0, 0) url("../images/power-right-bg.png") no-repeat scroll 0 0 / 100% auto;
  padding: 31px 34px 0;
  width: 100%;
}
.monitoring-content {
  min-height: 260px;
}
.news-cata-block .new-cata-block-left {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.news-cata-block .new-cata-block-right {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 250px;
}

/* new Changes By MY */
/* Home page Responsive Start */
.submenu-items li a {
  padding: 11px 3px 11px 21px !important;
}
/* Home page Responsive End */
 
}
@media screen and (max-width: 1024px) {

.menu-con {
  display: none;
}
.checklist {
  display: none;
}
.jsn-bootstrap3 .preview-text .get-start {
  display: none;
}
.service-con {
  display: none;
}
.carousel-control.right {
    display: none;
}
.carousel-control.left {
    display: none;
}
.for-us-right {
  float: left;
  margin-left: 0;
  margin-top: 12px;
  width: 100%;
}
.with-us-right {
    float: left;
    width: 60%;
}
.featured_blog-box li {
  width: 30%;
}
.blog-container .col-md-9.detail-blog-content {
  padding: 0;
}
.block-1 {
  height: 270px;
}
.learn-opportunity .owl-controls {
  display: none;
}
.owl-powerlite .owl-dots {
  margin-top: 0;
  /* opacity: 0; */
}
.about-page .col-md-9 {
    padding-left: 0;
    padding-right:15px;
}
}
@media screen and (max-width: 991px) {
.link_material{ 
  width:59%;
  }
.hello .wpcf7-form{
  width:80%;
}
.faq-container .panel-title .accordion-toggle{
  padding: 18px;
  font-size: 16px;
}
.nw_padding{
  padding:64px 0px !important;
}
.power_top_new{
  background-position:0px 0px;
}

.bhoechie-tab-menu {
  display: inline-block;
}
.list-group-item {
  padding: 4px 15px;
}
.list-group-item h4 {
  display: inline-block;
  margin: 0;
  line-height: 15px;
    top: -7px;
    vertical-align: baseline;
    width: 77%;
}
div.bhoechie-tab-menu div.list-group > a.active::after, div.bhoechie-tab-menu div.list-group > a:hover::after {
  display: none;
}
.bhoechie-tab-menu.dis-block {
  display:block;
}
.display-none {
  display: none;
}
.power-icon, .electical-icon, .time-icon, .manage-icon, .asset-icon, .work-icon, .floor-icon, .real-time-icon {
  display: inline-block;
  margin: 0 10px 0 0;
}
.partner-tab .col-md-12.padding-none {
  display: inline-block;
  padding: 0;
}
.block-heading {
  min-height: auto;
}
.prefer-us-block-content > p {
  margin-bottom: 25px;
  min-height: auto;
}
.blog-block {
  margin-bottom: 20px;
}
.blogs-details .col-md-3 {
  float: left;
  padding-left: 0;
  padding-right: 15px;
  width: 25%;
}
.footer-top .col-md-7 {
  float: left;
  width: 58%;
}
.footer-top .col-md-5 {
  float: left;
  width: 42%;
}
.footer-news-letter {
  display: inline-block;
  width: 100%;
}
.contact-detail-content {
  margin-left: 0;
}
.footer .col-md-3 {
  width: 50%;
  float: left;
}
.footer-company, .fallow-us, .footer_menu {
  display: inline-block;
  margin: 0;
  width: 100%;
}
.footer-contact {
  display: inline-block;
  margin: 0;
  width: 100%;
}
.person-img > img {
    display: table;
    margin: 0 auto;
    width: 60%;
}

.about-page .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}
.about-page .col-md-9 {
    padding-left: 0;
}
.overview .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
.vision-mission-para {
    width: 100%;
}
.left-video {
    float: left;
    margin-top: 30px;
    width: auto;
}
.help-detail .help-space-left {
    padding-left: 0;
    padding-right: 0;
}
.help-detail .help-space-right {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.col-md-3.col-sm-4:nth-child(4) {
  width: 100%;
}
.case-study-detail ul li {
    float: left;
    padding: 0 10px;
    width: 50%;
}
.news-section::before {
  display: none;
}
.contact-details .col-md-2 {
    float: left;
    width: 42px;
}
.contact-details .col-md-10 {
    float: left;
    padding-left: 0;
    width: 70%;
}
.subscribe > h2 {
    font-size: 25px;
}
.best-sec-left {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 0;
  padding-right: 0;
}
.best-part-right {
    padding: 0;
  width: 250px;
}
.col-md-12.best-sec {
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}
.our-brand-logo .col-md-3 {
    float: left;
    padding: 0 25px 0 0;
    width: 50%;
}
.client-success {
    padding-top: 30px;
}
.success-details ul li {
  float: left;
  width: 50%;
}
.with-us-left {
    float: left;
    padding: 0;
    width: 250px;
}

.contact-form {
  width: 100%;
}

.leader-details ul li {
  width: 50%;
  float: left;
}
.news-letter form.widget_wysija.shortcode_wysija {
  margin-top: 20px;
}
.news-letter .formError .formErrorContent {
  top: 40px;
}
.leader-detail-content .col-md-3 {
  float: left;
  padding-left: 0;
  width: 40%;
}
.leader-detail-content .col-md-9 {
  float: left;
  padding-right: 0;
  width: 60%;
}
.leader-detail-content .leader-para > p {
  min-height: auto;
}
.leader-detail-content .client-leader {
  margin-bottom: 0;
}
.search-form {
  float: right;
}
.featured_blog-box li {
  margin-bottom: 15px;
  width: 48%;
}
.featured_blog-li:first-child {
  margin-left: 7px;
}
.sidebar {
  padding: 0;
}
.inner-detail-content .col-md-3.right-sidebar {
  padding: 0;
}
.inner-detail-content .col-md-9.detail-left {
  padding: 0;
}
.career-content-detail ul li {
  float: left;
  width: 50%;
}
.career-apply .aply-form .apply-left {
  float: left;
  padding-left: 0;
  width: 50%;
}
.career-apply .aply-form .apply-right {
  float: left;
  padding-right: 0;
  width: 50%;
}
.career-apply .aply-form {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
.apply-page .col-md-12 {
  display: inline-block;
  padding: 0;
  width: 100%;
}
.apply-page .apply-left {
  float: left;
  padding-left: 0;
  width: 50%;
}
.apply-page .apply-right {
  float: left;
  padding-right: 0;
  width: 50%;
}
.right .person-img {
  display: none;
}
.slide {
  height: 420px;
}
.resource-menu::before {
  display: none;
}
.subscribe {
  clear: both;
  padding-bottom: 0;
  padding-top: 20px;
  position: relative !important;
  top: 0;
  transform: translateY(0%);
}
.subscribe-form {
  float: left !important;
  width: 100%;
}
.client-detail > p {
  min-height: auto;
}
.help-content > p {
  min-height: auto;
}
.career-block-right > p {
  min-height: 140px;
}
.modal-dialog {
  width: 90%;
}

.essential .enter-left, .power-left, .enter-left, .power_top_new, .powe_top_bac, .unviversity-left {
  margin-bottom: 20px;
}
.owl-powerlite {
  background: rgba(0, 0, 0, 0) url("../images/power-right-bg.png") no-repeat scroll 0 0;
}
.block-1 {
  height: auto;
  margin-bottom: 15px;
}

.monitoring-content {
  margin-bottom: 20px;
  min-height: auto;
}

.save-money .block-1 {
  margin-bottom: 20px;
}
.dcim-video > img {
  width: 100%;
}
.storage-img {
  text-align: left;
}
.disaster-recovery .disaster-recovery-img {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin-top: 15px;
}
.real-time-pue-img > img {
  width: auto;
}
.real-time-pue-img {
  margin-bottom: 25px;
  padding-left: 0;
}
.real-time-pue .real-time-pue-list {
  padding-left: 0;
}
.capacity-planning-list {
  margin-top: 0;
}
.last-sec-content .col-md-6 {
  float: left;
  width: 50%;
}

.university .overview-right {
  margin-top: 20px;
  width: 250px;
}
.learn-block {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  margin-bottom: 60px;
}
.view-more-list {
  display: table;
  margin: 0 auto;
}
.gsm-university .our-brand-bg {
  background: rgba(0, 0, 0, 0) url("../images/learn-partner-bg.png") no-repeat scroll 0 0 / auto 100%;
  height: 100%;
}
/* new Changes By MY */
/* Home page Responsive Start */
.blog-title > a {
  display: block;
  width: 100%;
}
.col-md-4.subscribe {
  padding-bottom: 20px;
}
.col-md-8.subscribe-form {
  padding-bottom: 20px;
}
.footer-news-letter .wysija-paragraph {
  width: 72%;
}
.use_u {
  clear:both;
  padding:10px;
}
#aptf_slider_widget-2 .bx-viewport {
  height: 137px !important;
}
.testimonial {
  padding: 30px 0 0px;
}
.aptf-slider-template-3 .aptf-tweet-actions {
  left: 42% !important;
}
/* Home page Responsive End */
/* Inner Page Responsive Start */

.capacity-content .measure-left.col-md-4, .capacity-content .measure-right.col-md-4 {
  float: none;
  padding: 0;
  display: table;
  margin: 0 auto;
}

.benefit-left.col-md-6 {
  padding: 0;
  width: 100%;
}
.time-saving-right::after {
  display: none;
}
.time-saving-right::before {
  display: none;
}
.time-saving-right {
  padding: 0;
} 
.owl-powerlite .owl-dots {
  opacity:0;
}
.measure-right.col-md-4 {
  float:left !important;
  margin: 10px 0 0 !important;
}
.inquiry-detail-listing::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  display: inline-block;
  left: 5px;
  right: 0;
  content: "";
}
.left-img {
  margin: 20px 0 0;
}
.steps-icon {
  float: right;
}
.first-block {
  left: 50%;
  margin: 25px 0 0;
  position: absolute;
  top: 145%;
  transform: translate(50%, 50%);
}
.steps-title {
  clear:both;
  padding:10px 0;
}

.data-info-blocks {
  margin: 0 0 15px;
}
.documentation-detail .wht-papers .download-pdf {
  margin-bottom: 25px;
}

.cata-list > li::before {
  left: 0;
  width: 100%;
}
.content_parent_left {
  padding-left: 0;
}
/* Inner Page Responsive End */

/* New Changes For responsive as on 30-1-2017 start */  
.fill.slide {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 170% auto !important;
}

.logo {
  width: 161px;
}
.main-navigation .wr-mega-menu > li {
  margin-top: 0;
}
.site-title > a {
  top: -3px;
}
.custom_image_block {
  float: none !important;
  margin: 0 auto;
  max-width: 74%;
}
/* New Changes For responsive as on 30-1-2017 end */  
/* #myCarousel{
  margin-top: 82px;
} */
/* New Changes as on 3-2-2017 */

  /* New Changes as on 3-2-2017 */
/* #myCarousel {
  margin-top: 84px;
} */
.video_block {
  height: 443px !important;
  max-width: 1140px !important;
  width: 100% !important;
}
.slide {
  height: 443px;
}
.tab-left-con {
  width: 100%;
}
.tab-right-con {
  width: 100%;
}
.col-sm-12.padding-none {
  padding: 0;
}
.tab-left-con > img {
  display: table;
  margin: 0 auto 10px;
  width: auto;
}
div.bhoechie-tab-content {
  padding-left: 0;
}
.page-template-product-tpl .product-sec{
  
}
.main-navigation .wr-mega-menu > li {
  margin-top: 14px;
}
.navbar li {
  padding: 0 8px 0 0;
}
.navbar {
  margin: 27px 0 0;
}
.site-title {
  margin-top: 10px;
}
}
@media screen and (max-width: 872px) {
.faq-container {
  width: 100%;
}
.faq-cata {
  width: 100%;
  margin: 0 0 15px;
}
/* .site-title {
  margin-top: 8px;
}
.site-branding {
  width: auto;
} */

.down-icon {
  background: none;
}
.down-icon:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.social-share-icons {
  float: left;
  width: 50%;
}
.find-out > a {
  padding: 16px 30px;
}
.backup-storage .consulting-right-listing {
  float: left;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
/* #myCarousel{
  margin-top: 67px;
} */

/* New Changes as on 3-2-2017 */
/* .main-navigation{
  margin-top:0;
}  */
.wr-megamenu-container,
.site-navi .container {
  padding:0;
}
.site-branding {
  padding: 0 10px;
}
.container {
  width: 100%;
}
.site-header-menu {
  margin-right: 0;
}
#wprmenu_bar {
  display: none !important;
  opacity:0;
}
.logo {
  width: 191px;
}
}
@media screen and (max-width: 840px) {
.about-page .col-md-9 {
  padding-right: 0;
}
.about-right {
  margin-top: 20px;
}
.overview .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}
.download-pdf {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
}
}
@media screen and (min-width: 801px) {
  
/* Delete from 11159   */

li.menu-item:hover .wr-megamenu-inner,
li.menu-item:hover .wr-megamenu-container ul.wr-mega-menu ul.sub-menu{
  display: block !important;
}
}
@media screen and (max-width: 800px) {


#wprmenu_menu.left, #wprmenu_menu.right {
  z-index: 9999;
}
.blogs-details .col-md-3 {
  width: 50%; 
}

.site-inner > nav.fix-header {
    background: #000000 none repeat scroll 0 0;
}

.inner-menu .site-navi {
    background: #000000 none repeat scroll 0 0;
    position: fixed;
    top: 0;
}
/* #wprmenu_bar { */
  /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
  /* cursor: pointer; */
  /* left: auto; */
  /* position: fixed; */
  /* right: 0; */
  /* top: 15px; */
  /* z-index: 9999; */
  /* width:auto; */
/* } */
#wprmenu_menu.left, #wprmenu_menu.right {
  background: #000 none repeat scroll 0 0 !important;
  display: none;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 43px;
  position: fixed;
  top: 0;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
  border-left: 0 !important;
}
#wprmenu_menu.wprmenu_levels ul li ul {
  border-top: 0 none !important;
}
#wprmenu_menu.wprmenu_levels ul li {
  border-bottom: 0px !important;
  border-top: 0px !important;
}
#wprmenu_menu .wprmenu_icon_par {
  float: right !important;
  left: auto !important;
  right: 20px !important;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
  margin-left: 15px !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 25px !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li ul li {
  padding-left: 35px !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li {
  padding-left: 0px !important;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
  margin-left: 0 !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 0px !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li ul li {
  padding-left: 0 !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li a {
  padding-left: 20px !important;
}
#wprmenu_menu.wprmenu_levels ul li ul li ul li a {
  padding-left: 30px !important;
}
#wprmenu_menu_ul li a:hover {
  background: #215BBE !important;
  color: #fff !important;
}

/* .site-header-menu {
    float: right;
    margin-right: 20px;
} */
.details {
  margin-top: 18px;
}

.copy-rights p {
  float: none;
  text-align: center;
  width: auto;
}

.service-carousel .owl-item {
  border-right: medium none;
}
body {
  left: 0 !important;
}
.news-content {
  display: inline-block;
  float: left;
  margin-right: 26px;
  width: 47%;
}
.news-cata-block .new-cata-block-right {
  display: inline-block;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 250px;
}
.center_new1 > span{
  margin-right:20px;
  font-size: 18px;
}
.center_new1 .inquiry-now.iframe{
  padding: 12px;
}

.inquiry-now.hidden-xs,
.btn-marketing.hidden-xs,
.testinprodu .hidden-xs,
.hidden-xs.custom-click,
.pd_new .pd_new   {
  display:none !important;
}
.inquiry-now.visible-xs,
.btn-marketing.visible-xs,
.testinprodu .visible-xs,
.enter-right .visible-xs,
.pd_new .visible-xs{
  display:block !important;
}
.banner-title {
    /* left: 0; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
  /* -moz-transform: translateY(-50%); */
  /* -webkit-transform: translateY(-50%); */
}
.banner-title .heading {
  margin-top: 10px;
}
}
@media screen and (min-width: 784px) {
li.menu-item:hover .wr-megamenu-inner,
li.menu-item:hover .wr-megamenu-container ul.wr-mega-menu ul.sub-menu{
  display: block !important;
}

}

@media screen and (max-width: 783px) {
.contnewres {
  display: block !important;
} 
/* Menu changes */
#wprmenu_bar {
  display: block !important;
  opacity:1;
}
.main-navigation {
  display: block !important;
}
#wprmenu_menu.left, #wprmenu_menu.right{
  display: none !important;
}
.main-navigation{
  margin-top:0;
} 
.wr-megamenu-container,
.site-navi .container {
  padding:0;
}
.site-branding {
  padding: 0 10px;
}
.container {
  width: 100%;
}
/* .site-header-menu {
  float: none;
  margin-right: 0;
}
 */.wr-megamenu-container ul.wr-mega-menu > li.wr-megamenu-item > a.menu-item-link {
  padding: 0px !important;
}
.main-navigation .wr-mega-menu > li {
  margin-top: 0 ; 
  padding: 6px 10px;
}
.wr-megamenu-inner .jsn-bootstrap3 {
  width:100% !important;
}
.wr-megamenu-inner .jsn-bootstrap3 .col-md-12.col-sm-18 {
  width: 100% !important;
  padding: 0 !important;
}
.icon-1.menu-item-1162 a, .icon-1.menu-item-1163 a, .icon-1.menu-item-1164 a {
  background: transparent !important;
}
.submenu-items li a,
.testingtools .ig-menu-title {
  border-color: transparent !important;
}
.wr-megamenu-container ul li li {
  border-top: medium none rgba(0, 0, 0, 0);
}
.menu_title {
  background:transparent;
}
.main-navigation .primary_106 .wr-mega-menu > li:hover > a span, .main-navigation .primary_106 .wr-mega-menu > li.focus > a span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 0px;
}
.wr-megamenu-inner {
  background:#000 !important;
} 

.testingtools .ig-menu-title,
.submenu-items li a{
  padding:6px !important;
  line-height:16px !important;
}
.wr-element-submenu .submenu-items {
    padding:0 !important;
}
.wr-megamenu-container .jsn-bootstrap3 .row > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wr-mega-menu .wr-menu-down {
  margin: -33px 5px 0 0;
}
.wr-megamenu-inner.open {
  display: block !important;
  position: relative;
}
.wr-megamenu-container ul.wr-mega-menu li > ul.sub-menu, .wr-megamenu-container ul.wr-mega-menu li > .wr-megamenu-inner {
  opacity: 1 !important;
  visibility:visible !important;
}
.wr-mega-menu .wr-menu-down:hover{
  /* background: rgba(25, 70, 147, 0.8) url("../images/icon-down.svg") no-repeat scroll center 12px / 20px auto !important; */
}
.wr-megamenu-inner.open .submenu-items li a {
  color: #d0d0d0 !important;
}
/* #myCarousel {
  margin-top: 72px;
} */
.wr-megamenu-container ul.wr-mega-menu {
display:none;
}
.wr-megamenu-container ul.wr-mega-menu.open {
  display:block;  
}
.site-title {
  margin-top: 11px;
}
.slide {
  height: 434px;
}
.video_block {
  height: 434px !important;
}
.wr-megamenu-container .current_page_item > a span, .wr-megamenu-container .current_page_ancestor > a span, .wr-megamenu-container .current-menu-item > a span, .wr-megamenu-container .current-menu-ancestor > a span {
  background: transparent;
  border-bottom: none;
}
/* Menu Chnages End
 */
 
 /* Menu changes */
.main-navigation {
  display: none;
}
#wprmenu_menu.left, #wprmenu_menu.right {
  display: none !important;
}
.it-responsive-mega {
  background: rgba(255, 255, 255, 0) url("../images/icon-menu.svg") no-repeat scroll center center;
  clear: both;
  display: block;
  float: right;
  height: 38px;
  margin-right: 10px;
  margin-top: -41px;
  width: 38px;
  cursor:pointer;
}
.wprmenu_bar {
  display:none !important;
}
.main-navigation{
  margin-top:0;
} 
.wr-megamenu-container,
.site-navi .container {
  padding:0;
}
.site-branding {
  padding: 0 10px;
}
.container {
  width: 100%;
}
/* .site-header-menu {
  float: none;
  margin-right: 0;
}
 */
.wr-megamenu-container ul.wr-mega-menu > li.wr-megamenu-item > a.menu-item-link {
  padding: 0px !important;
}
.main-navigation .wr-mega-menu > li {
  margin-top: 0 ; 
  padding: 6px 10px;
}
.wr-megamenu-inner .jsn-bootstrap3 {
  width:100% !important;
}
.wr-megamenu-inner .jsn-bootstrap3 .col-md-12.col-sm-18 {
  width: 100% !important;
  padding: 0 !important;
}
.icon-1.menu-item-1162 a, .icon-1.menu-item-1163 a, .icon-1.menu-item-1164 a {
  background: transparent !important;
}
.submenu-items li a,
.testingtools .ig-menu-title {
  border-color: transparent !important;
}
.wr-megamenu-container ul li li {
  border-top: medium none rgba(0, 0, 0, 0);
}
.menu_title {
  background:transparent;
}
.main-navigation .primary_106 .wr-mega-menu > li:hover > a span, .main-navigation .primary_106 .wr-mega-menu > li.focus > a span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 0px;
}
.wr-megamenu-inner {
  background:#000 !important;
} 

.testingtools .ig-menu-title,
.submenu-items li a{
  padding:6px !important;
  line-height:16px !important;
}
.wr-element-submenu .submenu-items {
    padding:0 !important;
}
.wr-megamenu-container .jsn-bootstrap3 .row > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wr-mega-menu .wr-menu-down {
  margin: -33px 5px 0 0;
}
.wr-megamenu-inner.open{
 display: block !important; 
}
.wr-mega-menu .wr-menu-down:hover{
  /* background: rgba(25, 70, 147, 0.8) url("../images/icon-down.svg") no-repeat scroll center 12px / 20px auto !important; */
}
/* #myCarousel {
  margin-top: 72px;
} */

/* Menu Chnages End */
.it-responsive-mega {
  margin-top: -53px;
}
.fix-header .it-responsive-mega {
  margin-top: -35px;
}
.fix-header .main-navigation .wr-mega-menu > li {
  margin-top: 0;
  padding: 6px 10px;
}
}

@media screen and (max-width: 768px) {
.scrollup{
  display:none !important;
}
.marketing_material .col-sm-8 {
  overflow: auto;
}
.box_marketing{
  margin:0px;
}
.contact-page-details .contact-left, .contact-page-details .contact-right{
  padding-left: 15px;
    padding-right: 15px;
}
.contact-right-detail{
  padding-top:15px;
}
.color_white{
  padding-bottom: 15px;
}
.hello .wpcf7-form{
  width:96%;
}
.center_new1 {
  margin: 0px auto;
  padding: 30px 0;
  text-align:center;
}
.benefit-left > ul{
  margin-bottom: 15px;
}
.nw_padding{
  padding:30px 0px !important;
}
.inner-heading {
  padding-bottom:0px;
  padding-top:0px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.featured_blog-box li {
  float: left;
  margin-bottom: 15px;
  width: 45%;
}
.left-video {
  width: 100%;
}
.owl-powerlite {
  background: rgba(0, 0, 0, 0) url("../images/power-right-bg.png") no-repeat scroll 0 0;
  width:74%;
}
/* new Changes By MY */
/* Home page Responsive Start */
.contact-details .col-md-2 {
  float: left !important;
  width: 7% !important;
}
.contact-details .col-md-10 {
  float: left !important;
  width: 80% !important;
}
.use_u {
  display: none;
}
.footer .col-md-3:nth-child(1) {
  margin: 0 0 20px;
}

/* Home page Responsive End */

/* Product Page Responsive Start */
.features-listing li {
  width: 100%;
}

.power-utilization-content .features-listing li{
  padding-left:18px;
  padding-right: 12px;
}
.copy-rights .col-sm-4{
  width:25%;
  float:left;
}
.copy-rights .copyright_new {
  width:50%;
}

/* Product Page Responsive Start */
/* Inner Page Responsive Start */
.newcols {
  display: block;
}
.documentation-detail h3 {
  text-align: left;
}
.custom_heading {
  display: block;

}
.cost-detail .heading {
  width: 100%;
}
.cost-detail .title-desc {
  width: 100%;
  float: left;
  text-align: left;
}

.cost-detail .title-desc {
  margin: 10px 0 0;
}
.custom_desc {
  float: left;
  text-align: left;
  width: 100%;
}
.custom_heading {
  font-size: 28px;
}

.cost-block .block-content-1 > h3 {
  text-align: center;
  font-size: 25px;
}
.cost-img {
  margin-top: 13px;
  min-height: 97px;
}
.block-content-1 {
  padding: 10px;
}
.sharp {
  margin:0 auto;
}
/* Inner Page Responsive Start */


/* New Chnages as on 3-2-2017 */

/* #myCarousel {
  margin-top: 65px;
} */
.video_block {
  height: 322px !important;
}
.slide {
  height: 320px;
}
.center_new1 .inquiry-now.iframe{
  font-size:15px;
}

/* New Chnages as on 3-2-2017 End*/

.it-responsive-mega {
  margin-top: -51px;
}
.fix-header .it-responsive-mega {
  margin-top: -34px;
} 
.site-inner > nav.fix-header {
  padding: 0px;
}
.fix-header .site-title > a {
  position: static;
  top: 0;
}
.zero_margin {
  margin-bottom:9px !important;
}
.social-icons {
  width: 199px;
  margin-top:-4px;
}
.footer-social-icon {
  margin-right: 5px;
}
.box_marketing {
    margin: 0px 0 10px;
}
}


@media screen and (max-width: 767px) {

  .copy-rights .col-sm-4{
  width:100%;
}
.copy-rights .copyright_new{
  width:100%;
}
.contact_new ul li a{
  text-align:center;
}
.social-icons{
  display: inline-block;
  margin: 10px 0px 0px;
  text-align: center;
  width: 100%;
}
.social-icons > h3{
  float:none;
  display: inline-block;
  margin:5px 15px 0px 0px;
  vertical-align:top;
}
.social-icons > ul, .social-icons li{
  float:none;
  display: inline-block;
}
.footer-about-us{
  text-align:center;
}
.navbar {
  margin: 0;
}
.fix-header .navbar {
  margin: 0;
}
.site-header-menu {
    float: right;
    width: 100%;
}
.dropdown-toggle:hover {
  border-bottom: 0px;
}
.dropdown-menu {
  position:relative;
  min-width:100%;
  width:100%;
}
.navbar li > a {
  padding: 5px 10px 5px;
}
.dropdown-menu li a {
  border-bottom: 0 none;
  padding: 5px 15px;
}
.fa.fa-chevron-down {
  float: right;
  cursor:pointer;
}
.fa-chevron-down::before {
  content: "\f055";
}
.show .fa-chevron-down::before {
  content: "\f056";
}
.dropdown-menu {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding: 0 0 2px;
    left: 0;
  right: 0;
}
.dropdown-menu .get-start {
  display:none;
}
.dropdown:hover .dropdown-menu {
    display: none;
}
.show .dropdown-menu {
    display: block !important;
}
#menu-item-1345 {
  display: block;
}
.dropdown-toggle {
  cursor:pointer;
}
.icon-1.menu-item-1162 a, .icon-1.menu-item-1163 a, .icon-1.menu-item-1164 a, .icon-1 a, .icon-2 a, .icon-3 a, .icon-4 a, .icon-5 a, .icon-6 a, .icon-7 a, .icon-8 a, .icon-9 a, .icon-10 a, .icon-11 a, .icon-12 a, .icon-13 a, .icon-14 a, .icon-15 a, .icon-16 a, .ser-icon-1 a, .ser-icon-2 a, .ser-icon-3 a, .ser-icon-4 a, .ser-icon-5 a, .ser-icon-6 a, .re-icon-1 a, .re-icon-2 a, .re-icon-3 a, .re-icon-4 a, .re-icon-5 a, .re-icon-6 a, .co-icon-1 a, .co-icon-2 a, .co-icon-3 a, .co-icon-4 a, .co-icon-5 a, .co-icon-6 a {
  background: none !important;
}
#menu-item-190 > a, #menu-item-191 > a {
    display: none !important;
}
.testingtools .block-sub-menu:nth-child(1) .ig-menu-title::after,
.testingtools .block-sub-menu:nth-child(2) .ig-menu-title::after,
.testingtools .block-sub-menu:nth-child(3) .ig-menu-title::after,
.testingtools .block-sub-menu:nth-child(4) .ig-menu-title::after,
#menu-item-1345,
#menu-item-1346 {
  background: transparent !important;
}
.enterprise-content {
  padding: 34px 15px;
}
.site-header-main {
  position: fixed;
  top: 0;
}
#myCarousel{
  margin-top: 52px;
} 
.banner-title {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
}
@media screen and (max-width: 736px) {
.map {
    display: none;
} 
.footer-news-letter .wysija-paragraph {
  width: 70%;
}
.about-image {
    display: none;
}
.about-testimonial {
    display: inline-block;
    padding: 20px;
    width: 100%;
}
.about-detail {
    padding-top: 0;
}
.with-us-right {
  float: left;
  margin: 25px 0 0;
  padding: 0;
  width: 100%;
}
.catagory-btn p {
  min-height: 46px;
}
.owl-powerlite {
  width:78%;
}
.fill.slide{
  background-size:cover !important;
}
.center_new1 > span{
  font-size: 16px;
}
.center_new1 .inquiry-now.iframe{
  font-size: 14px;
  padding: 11px;
}

}
@media screen and (max-width: 680px) {
.case-study-detail ul li {
    float: none;
    padding: 0px;
    width: 100%;
}
.footer .col-md-3 {
    float: left;
    width: 100%;
}
.footer-news-letter .wysija-paragraph {
  width: 65%;
}

.career-content-detail ul li {
  float: left;
  width: 100%;
}
.career-block-left {
  margin-right: 20px;
}
.career-block-right {
  float: left;
}
.success-details ul li {
  width: 100%;
}
.client-content > p {
  min-height: auto;
}
.career-block-right > p {
  min-height: auto;
}
.now-call-us > a {
  margin-top: 10px;
}
.backup-storage .consulting-right-listing {
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.owl-powerlite {
  width:86%;
}

/* new Changes By MY */
/* Home page Responsive Start */
.footer-news-letter .wysija-submit.wysija-submit-field {
  float: none;
  margin-top:15px;
}
.copy-rights .col-sm-4{
  width:100%;
}
.copy-rights .copyright_new{
  width:100%;
}
.contact_new ul li a{
  text-align:center;
}
.social-icons{
  display: inline-block;
  margin: 10px 0px 0px;
  text-align: center;
  width: 100%;
}
.social-icons > h3{
  float:none;
  display: inline-block;
  margin:5px 15px 0px 0px;
  vertical-align:top;
}
.social-icons > ul, .social-icons li{
  float:none;
  display: inline-block;
}
.footer-about-us{
  text-align:center;
}
/* Home page Responsive End */
.center_new1{
  width:100%;
  display:inline-block;
  text-align:center;
}
.center_new1 > span{
  width:100%;
  display:inline-block;
  font-size: 18px;
  margin-right:0px;
}
.center_new1 .inquiry-now.iframe{
  font-size: 16px;
  padding: 12px;
}
}
@media screen and (max-width: 600px) {
.heading {
  width: 100%;
}

.title-desc::before {
  left: 160px;
}
.title-desc::after {
  left: 0;
}
.title-desc p {
  float: left;
  width: 100%;
}
.title-desc {
  float: left;
  text-align: left;
  width: 100%;
}
.heading {
  width: auto;
}
.blogs-details .col-md-3 {
  width: 100%;
  padding-right: 0;
}
.our-partner {
  display: none;
}
.footer .col-md-3 {
  float: left;
  width: 100%;
}
.footer-top .col-md-7 {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.footer-top .col-md-5 {
  float: left;
  width: 100%;
}

.fallow-us {
  margin-bottom: 10px;
}
.site-branding {
  width: 40%;
}
.site-title img {
  width: 100%;
}
.site-header-menu {
  float: left;
  width: 100%;
}
.details {
  float: left;
  margin-top: 0;
}
.details > a {
  color: #d0d0d0;
  margin-left: 0;
  margin-right: 10px;
}
.site-title {
  margin-top: 8px;
  margin-bottom: 5px;
}
.partners {
  margin-top: 30px;
}
.conatct-us {
  padding-top: 30px;
}
.logo-img > img {
    width: 200px;
}
.logo-img {
    width: 50%;
}
.slider-content .left {
    padding-bottom: 25px;
}

.person-img {
    display: none;
}

.about-detail > h3 {
    font-size: 26px;
}
.inner-heading {
    font-size: 26px;
}
.inner-partner {
    padding-top: 30px;
}
.success-details ul li {
  float: left;
  width: 100%;
  padding: 0;
}

.case-study {
  padding-top: 30px;
}
.leader-details ul li:nth-child(2n+1) {
  clear: both;
}
.news-letter .formError .formErrorContent {
  left: 0;
  position: absolute;
  right: 0;
  top: 93px;
  width: 100%;
  z-index: 5001;
}
.footer-news-letter .wysija-paragraph {
  float: left;
  margin-right: 20px;
  width: 100%;
}
.formError {
  left: 270px !important;
}
.leader-para > p {
  min-height: auto;
}
.leader-detail-content .col-md-3 {
  float: left;
  padding-left: 0;
   padding-right: 0;
  width: 100%;
}
.leader-detail-content .col-md-9 {
  float: left;
  padding-right: 0;
   padding-left: 0;
  width: 100%;
  margin-bottom:25px;
}
.featured_blog-box li {
 margin-right:0;
  width: 100%;
  margin-left:0;
}
.featured_blog-li:first-child {
  margin-left: 0px;
}
.comment-form {
  width: 100%;
}
.career-apply .aply-form .apply-left {
  float: left;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.career-apply .aply-form .apply-right {
  float: left;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.fileUpload {
  float: left;
}
.custom-file-upload {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 10px;
}
.apply-btn {
  margin-top: 20px;
}
.apply-page .apply-right {
  float: left;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.apply-page .apply-left {
  float: left;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.share-right .shear-btn {
  right: -24px;
}
.data-auditing-left {
  float: left;
  width: 100%;
}
.data-auditing-right {
  display: inline-block;
  margin: 20px auto 0;
}
.find-out-more > a {
  padding: 16px 30px;
}
.power-heading {
  font-size: 25px;
}
.cost-detail .heading {
  width: auto;
}
.cost-detail .title-desc {
  width: 100%;
}
.last-sec-content .col-md-6 {
  float: left;
  margin-bottom: 35px;
  width: 100%;
}
.news-content {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.gsm-university .our-brand .heading {
  width: 100%;
}
.owl-powerlite {
  width:100%;
}
/* new Changes By MY */
/* Home page Responsive Start */
.aptf-slider-template-3 .aptf-tweet-actions {
  left: 39% !important;
}
.power-utilization-content .features-listing li{
  width:100%;
  padding-right:0px;
}


/* Home page Responsive End */
}
@media screen and (max-width: 568px) {

.hello .career-input{
  width:100%;
}
.our-brand-logo .col-md-3 {
    padding: 0 ;
    width: 100%;
} 
.social-share-icons {
  float: left;
  width: 100%;
}
.right-acc-content {
  float: left;
  margin-top: 15px;
}
.about-detail > p {
  width: 100%;
}
.owl-powerlite {
  background: rgba(0, 0, 0, 0) url("../images/power-right-bg.png") no-repeat scroll 0 0 / 100% auto;
}
.dcim-video-sec {
  margin-top: 120px;
}
.dcim-video {
  margin-top: -90px;
}
.page-template-about-tpl .custom_today {
  margin-left: 10px;
}
.custom_today {
  padding-left: 10px;
}
/* new Changes By MY */
/* Home page Responsive Start */
.aptf-slider-template-3 .aptf-tweet-actions {
  left: 23% !important;
}
.contact-details .col-md-2 {
  width: 13% !important;
}
.details {
  float: left;
  margin-top: 0;
}
.details > a {
  margin-left: 0;
  margin-right: 0;
}
.details > span {
  margin-left: 11px;
}
.details .fa-mobile-phone {
  margin-right: 6px;
}
a.first-btn {
  color: #ffffff;
  text-decoration: none;
  display: block;
  max-width: 150px;
}
.aptf-tweet-actions-wrapper .tooltip span {
  display:none !important;
}
#aptf_slider_widget-2 .bx-viewport {
  height: 197px !important;
}
/* Home page Responsive End */

/* Inner page Responsive Start */
.heading-image > img {
  width: 100%;
}
.logo-sub-description > h2 {
  font-size: 18px;
  margin: 30px 0 20px;
  width: 100%;
}
.inquiry-detail-listing li {
  padding-left: 25px;
}
.nofaceplace-features-section .inner-heading {
  font-size: 25px;
}
.features-listing li {
  font-size: 15px;
  margin-bottom: 11px;
}
.first-block {
  display: none;
}
.data-info-blocks {
  padding: 22px 14px;
}
.data-info-blocks > h2 {
  font-size: 20px;
}
.data-info-blocks > p {
  margin-top: 7px;
}
.inner-heading {
  font-size: 20px;
}
.nofaceplace-features-section .inner-heading {
  font-size: 20px;
}
.planning-section-list > h2 {
  font-size: 20px;
}
.gsm-university .our-brand .heading {
  font-size: 20px;
}
.unviversity-content {
  padding: 34px 15px;
}
/* Inner page Responsive Start */
.migration-content,
.planning-content {
  padding: 40px 15px 30px;
}
.training-content > p,
.migration-content > p,
.disaster-recovery-content p,
.storage-content p,
.planning-content p,
.manage-data-center p {
  text-align: justify;
}
.details > span {
  margin-left: 8px;
}
.inner-heading::before {
  width: 91%;
}
.last-sec-news-title .inner-heading {
  width: 100%;
}
.last-sec-first-img {
  padding: 20px 15px;
}
.faq-container .panel-body {
  padding: 10px 10px 7px;
  text-align: justify;
}
/* #myCarousel{
  margin-top: 62px;
} */

a.first-btn{
  display:inline-block;
  max-width:200px;
}
.slide{
  height:350px;
}


/* New Chnages as on 3-2-2017 */

.slide {
  height: 191px;
}
.video_block {
  height: 182px !important;
}
.fix-header .logo {
  width: 100%;
}
 .site-title {
    margin-bottom: 0;
    margin-top: 0;
} 
.it-responsive-mega {
  margin-top: -34px;
}
.logo {
  margin-top: 9px;
}
/* #myCarousel {
  margin-top: 52px;
} */
/* New Chnages as on 3-2-2017 End*/
#fancybox-wrap {
  left: 0 !important;
  margin: 0 auto;
  right: 0 !important;
  width: 93% !important;
}
#fancybox-content {
  width:100% !important;
}
}
@media screen and (max-width: 567px) {
.page-template-about-tpl .custom_today {
  margin-left: 5px;
}
.custom_today li {
  margin: 10px 0;
  padding-left: 5px;
}
/* Decreasing font size in mobile  */
.product-desc-detail > p,
.comp-para,
.custom_today li,
.page-template-about-tpl .custom_today li {
  font-size: 14px;
}

/* Decreasing uppaer space in mobile   */
.page-template-product-tpl .product-sec,
.product-sec {
  padding: 10px 0 0;
}
.page-template-services-new-tpl .product-desc-detail {
  margin:10px 0px 35px;
}
body{
  font-size: 14px;
}

}


@media screen and (max-width: 480px) {
.contact-detail-content {
  font-size: 15px;
}

.leader-details ul li {
  float: left;
  width: 100%;
}
.box_marketing .btn-marketing,
.box_marketing .videologinpage{
  width: 137px;
  float: none;
  margin-top: 0;
}
.link_material {
  width: 100%;
}
div.bhoechie-tab-content {
  display: block;
}
.tab-left-con > img {
  width: 100%;
}
.box_marketing .title{
  padding: 0 0 1px;
}
}
@media screen and (max-width: 460px) {

.footer-news-letter .wysija-paragraph {
  float: left;
  width: 100%;
}
.footer-news-letter .wysija-submit.wysija-submit-field {
  margin-left: 0px;
}
.top-footer-tile {
  font-size: 22px;
}
.blog-title a {
  font-size: 16px;
  line-height: 20px;
}
.first-btn {
   font-size: 14px;
    padding: 10px;
}

.social-icons {
    margin-top: 10px;
}

.email-right a {
  color: #5c5c5c;
  display: inline-block;
  padding-left: 18px;
  width: 100%;
}
.formError {
  left: 180px !important;
}
.benefit-right > img {
  width: 100%;
}
.enh-support-right > img {
  width: 100%;
}
.heading {
  font-size: 20px;
  margin-top: 20px;
}
.banner-title .heading {
  font-size: 20px;
  margin-top: 7px;
}
.real-time-pue-img > img {
  width: 100%;
}
.last-sec-news-title .inner-heading {
  display: inline-block;
  /* width: 86%; */
}
/* Inner Page Responsive Start */
.nav.nav-tabs > li a {
  height: 173px;
}
/* Inner page Responsive End */


.center_new1 .inquiry-now.iframe{
  padding: 12px;
  font-size: 14px;
}
.fix-header .main-navigation .wr-mega-menu > li {
  margin-top: 0;
  padding: 6px 10px;
}

}
@media screen and (max-width: 430px) {
.power-icon, .electical-icon, .time-icon, .manage-icon, .asset-icon, .work-icon, .floor-icon, .real-time-icon {
  display: table;
  margin: 0 auto 25px;
}
.list-group-item h4 {
  display: table;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  line-height: 17px;
}
.service-bg {
  height: 367px;
}

.client-testimonial::before {
    display: none;
}
.career-block-left {
  float: none;
  margin: 0 auto;
}
.career-block-right {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
.career-block-right > h3 {
  border-bottom: medium none;
  padding-bottom: 0;
}
.career-block-right > p {
  margin-bottom: 0;
}
.first-btn {
  margin-bottom: 10px;
}
.search-form {
  float: left !important;
}
.unviversity-content > img {
  width: 100%;
}

.con-block > span{
  width:85px;
}
.email-right{
  width:75%;
}
.con-block > p{
  width:75%;
  margin-bottom:0px;
}
.con-block > p {
  padding-left: 18px;
  text-indent: -18px;
}
.email-right > p {
  padding-left: 18px;
  text-indent: -18px;
}
}
@media screen and (max-width: 380px) {
.site-branding {
  width: 45%;
}
.shear-btn.share_latest {
  left: 0;
  right: 0;
  top: 45px;
}
.email-right{
  width:70%;
}

}
 @media screen and (max-width: 360px) {

.para-desc {
    font-size: 14px;
} 
.con-block > p{
  width:70%;
}
#wprmenu_menu.wprmenu_levels ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 45px;
  width: 100%;
}
.case-img > img {
    width: 215px;
}
.social-icons > h3 {
    display: none;
}
.page-template-apply-form-tpl .inner-banner {
  height: 286px;
}

}
@media screen and (max-width: 330px) {
.heading {
  font-size: 20px;
}
.ch-item .ch-info {
  height: 230px;
  width: 230px;
}
.service-circle .spinner {
  height: 257px;
  width: 257px;
}
.lead-social {
  float: left;
  margin: 10px 0 0;
  padding: 0;
}
.formError {
  left: 100px !important;
}
.social-share-icons > span {
  width: 100%;
}
.heading img {
  width: 70%;
}
.our-brand .title .heading {
  margin: 20px auto;
}
#wprmenu_menu .wprmenu_icon_par {
  right: -8px !important;
  padding: 13px 0 10px;
}
.center_new1 .inquiry-now.iframe{
  font-size: 15px;
}

}

.page-id-133 .time-proff img {
  margin-top: 0px;
}

.page-id-127 .time-proff img {
  margin-top: 20px;
}
.page-id-129 .measure-right img {
    margin-top: 4px;
}
.m6 {
  margin-top:5px;
}
.m7 {
  margin-top:4px;
}
#get-start-federal {
  background: #333;
  color: #fff;
}
.grey-bg-federaldata{
  background: rgba(0, 0, 0, 0) url("../images/save-power-bg.jpg") no-repeat scroll 0 0;
}
.pue-color{color:#fff !important;}
.pue-color::before{
    border-bottom:1px solid #fff !important;
      color:#fff !important
}